
<!--指定页面Model属性的类型-->
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>修改</title>
    <style type="text/css">
        #tbList {
            border: 1px solid #0094ff;
            width: 400px;
            margin: 10px auto; /*上下10px；左右水平居中*/
            border-collapse: collapse; /*设置为收缩边框*/
        }

            #tbList th, td {
                border: 1px solid #0094ff;
                padding: 10px; /*将内容与单元格填充开*/
            }
    </style>
</head>
<body>
    @using (Html.BeginForm("Add2", "Seat", FormMethod.Post))
    {
        <table id="tbList">
            <tr>
                <td>新增座位的房间号：</td>
                <!--使用HTMLHelper的强类型方法，直接从Model中根据属性生成文本框-->
                <td>
                    

                  
                    <select name="add_roomid">
                        @foreach (var rd in ViewBag.CateList)
                        {
                            <option>@rd</option>
                        }
                    </select>
                </td>
                
            </tr>
            <tr>
                <td>新增座位的座位号：</td>
                
                <td><input type="text"  name="add_seatid"></td>
            </tr>
            <tr>
                <td>新增座位的状态：</td>
              
                <td>

                    <select name="add_state">
                        <option value="空闲">空闲</option>
                        <option value="不可预约">不可预约</option>
                 </select>
                </td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="添加" />@Html.ActionLink("返回", "Index", "Seat")</td>
            </tr>

        </table>
    }
</body>
</html>