
@{
    ViewBag.Title = "SearchBad";
    Layout = null;
}
@{ 
    string room = ViewBag.room;
    int count = ViewBag.seat_count;
}

<h2>SearchBad</h2>
<h2>输入错误，请重新输入
    </h2>
<div>
    您搜索的房间号为：@room
    座位数为：@count

</div>

